<ion-view view-title="Cadastrar livro">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="bg">
        <div class="header">
          <div class="row">
            <div class="col col-50 col-offset-25">
                <img ng-src="{{feed.foto}}" class="full-image" ng-click="pickImage()">
            </div>
          </div>
        </div>
        <div class="content">
          <div class="row">
            <div class="col col-100">
              <h4 class="no-padding-bottom no-margin-bottom no-margin-top">Título:</h4>
            </div>
          </div>
          <div class="row">
            <div class="col col-100">
              <input type="text" ng-model="feed.title" required="required" class="input-reponsive">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4 class="no-padding-bottom no-margin-bottom">Comentário:</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <textarea ng-model="feed.comment" rows="10" maxlength="140" wrap="hard">
              </textarea>
            </div>
          </div>
          <div class="row">
            <div class="col col-100">
              <button type="button" on-tap="saveFeed()"
              class="btn-cadastro">Enviar</button>
            </div>
          </div>
        </div>
      </ion-content>
</ion-view>
