<ion-view view-title="Feed" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content class="has-header">
      <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()">
      </ion-refresher>
        <div class="list">
          <a class="item item-thumbnail-left" ng-click="detalhe($index)" collection-repeat="feed in feeds">
            <img ng-src="{{feed.foto}}">
            <h2>{{feed.title}}</h2>
            <p>Autor: {{feed.author}}</p>
            <p>Comentário: {{feed.comment | limitTo : 20 : 0}}</p>
          </a>
        </div>
    </ion-content>
</ion-view>
