<ion-view view-title="Detalhe">
      <ion-content class="bg">
        <div class="header">
          <div class="row">
            <div class="col col-50 col-offset-25">
              <img ng-src="{{feed.foto}}" class="full-image">
            </div>
          </div>
        </div>
        <div class="book-info">
          <div class="row">
            <div class="col">
              <h4 class="book-title no-margin-bottom no-padding-bottom">Título:</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="title-text font-style">{{feed.title}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4 class="book-comment no-margin-bottom no-padding-bottom">Comentário:</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="comment-text font-style">{{feed.comment}}</p>
            </div>
          </div>
        </div>
      </ion-content>
</ion-view>
