<ion-view view-title="login" class="bg" hide-back-button="true" cache-view="false">
   <ion-header-bar class="bar bar-header bar-dark">
       <h1 class="title">Login</h1>
   </ion-header-bar>
  <ion-content>
    <div class="header">
      <div class="row">
        <div class="col col-33 col-offset-33">
          <img ng-src="img/logo.png" alt="logo task list" class="full-image">
        </div>
      </div>
      <div class="row">
        <div class="col col-100" id="app-name">
            my favorite book
        </div>
      </div>
    </div>
    <div class="form-login">
      <div class="row">
        <div class="col">
            <input type="email" ng-model="user.login" class="form-input" placeholder="Login" required autofocus>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="password" ng-model="user.password" class="form-input" placeholder="Senha" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button ng-click="logar()" class="form-input btn-submit">Entrar</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
