<ion-side-menus side="left">

    <!-- painel onde vai carregar as views -->
    <ion-pane ion-side-menu-content>
      <!-- nav-bar do cabecalho onde ficara o titlo -->
      <ion-nav-bar class="bar bar-header bar-dark">
        <!-- button clear tira as bordas do botao -->
        <ion-nav-back-button class="button-clear"></ion-nav-back-button>
      </ion-nav-bar>
      <!-- coloca no 'name' os nome das 'views' declarado nas rotas  -->
      <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu>
      <header class="bar bar-header bar-dark">
        <h1 class="title">Menu</h1>
      </header>
      <ion-content class="has-header">
        <ion-list>
          <ion-item nav-clear menu-close ng-href="#/logado/feed">
              Feeds
          </ion-item>
          <ion-item nav-clear menu-close ng-href="#/logado/cadastro-feed">
              Novo Post
          </ion-item>
          <ion-item nav-clear menu-close ng-click="logout()" nav-direction="exit">
              Sair
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
</ion-side-menus>
