
.bg{
  background-color: #EEB975;
}

.center{
  margin-left: 20%;
}

.navigation-bar{
  background-color: #3366FF;
  color: black;
}

.input-reponsive {
  width: 100%;
}


.form-input{
  display: block;
  text-align: center;
  font-size: 18px !important;
  width: 100%;
  background-color: #FFF;
  color: black !important;
  height: 45px !important;
  font-weight: bold;
  border: 0px;
}

textarea {
  width: 100%;
}

.img-responsive{
  position: relative;
  margin-top: 20px;
  background-color: black;
  width: 150px !important;
  height: 200px;
}

#app-name{
  padding-top: 10px !important;
  text-transform: uppercase;
  color: #000;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.form-login, .content{
  margin-top: 20px;
}

.header{
  margin-top: 20px;
  margin-bottom: 5px !important;
}

.btn-cadastro{
  text-align: center;
  font-size: 18px !important;
  width: 100%;
  background-color: #FFF;
  color: black !important;
  height: 45px !important;
  font-weight: bold;
  border: 0px;
  margin-top: 7px;
}

.btn-submit{
  margin-top: 5px !important;
}

.button-black {
  color: white !important;
  font-weight: bold !important;
}

.book-info{
  position: relative;
  margin-top: -5px !important;
}

.title{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.book-title{
  font-family: 'Bitter', serif;
}

.title-text {
  text-align: left;
  padding-left: 5% !important;
  background-color: #FFE59B;
  padding: 10px;
  text-indent: 15px;
  font-weight: bold;
}

.book-comment{
  font-family: 'Bitter', serif;
}

.comment-text {
  background-color: #FFE59B;
  font-weight: bold;
  text-align: justify;
  text-indent: 15px;
  padding-top: 10px;
  padding-left: 5% !important;
  padding-right: 10% !important;
}

.color-white {
  color: white !important;
}

.font-style{
  font-size: 150%;
  font-weight: normal;
  text-align: left;
  padding-bottom: 10px;
}

.no-padding-bottom{
  padding-bottom: 0px !important;
}

.no-margin-top{
  margin-top: 0px !important;
}

.no-margin-bottom{
  margin-bottom: 0px !important;
}
